@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #dd0000;
  --secondary-color: #161616;
  --primary-text: #fff;
  --secondary-text: #161616;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 140px;
  background-color: var(--secondary-color);
  color: var(--primary-text);
  border-radius: 30px;
  overflow: hidden;
}
.hero div:first-child {
  padding: 110px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.hero div:last-child {
  display: flex;
  align-items: end;
}
.hero:hover img {
  transform: scale(1.05);
}
.hero > * {
  flex: 1 0 50%;
}
.hero img {
  width: 90%;
  transition: transform 1s ease;
}
.hero h1 {
  line-height: 80px;
  font-weight: 700;
  font-size: 70px;
}

.hero p {
  font-size: 16px;
  line-height: 26px;
}
.hero button {
  padding: 16px 25px;
  display: flex;
  width: max-content;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  color: var(--primary-text);
  border-radius: 5px;
  border: 0;
}
.hero button * {
  margin: 0;
}

main {
  margin: 50px 140px;
  display: flex;
  gap: 24px;
}
main nav {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 10px;
  width: 312px;
  height: 312px;
  justify-content: space-evenly;
}
main nav a {
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding: 17px 39px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: #fff;
  color: var(--secondary-text);
}
main nav .active {
  background-color: var(--primary-color);
  color: var(--primary-text);
}
main .blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  gap: 24px;
}
main .blog img {
  width: 100%;
}
main article {
  box-shadow: 0px 0px 3px gray;
  border-radius: 10px;
}

main article > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
main article button {
  width: max-content;
  padding: 4px 17px;
  border-radius: 5px;
  font-weight: 800;
}

main article > div > div {
  display: flex;
  gap: 30px;
}
main article > div > div span {
  display: flex;
  gap: 10px;
  align-items: center;
}
