@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #dd0000;
  --secondary-color: #161616;
  --primary-text: #fff;
  --secondary-text: #161616;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 140px;
  background-color: var(--secondary-color);
  color: var(--primary-text);
  border-radius: 30px;
  overflow: hidden;
}
.hero div:first-child {
  padding: 110px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.hero div:last-child {
  display: flex;
  align-items: end;
}
.hero:hover img {
  transform: scale(1.05);
}
.hero > * {
  flex: 1 0 50%;
}
.hero img {
  width: 90%;
  transition: transform 1s ease;
}
.hero h1 {
  line-height: 80px;
  font-weight: 700;
  font-size: 70px;
}

.hero p {
  font-size: 16px;
  line-height: 26px;
}
.com-button {
  padding: 16px 25px;
  display: flex;
  width: max-content;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--primary-text);
  border-radius: 5px;
  border: 0;
}
.com-button * {
  margin: 0;
}
.tab-button {
  display: none;
}

main {
  margin: 100px 140px;
  display: flex;
  gap: 24px;
}
main nav {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 10px;
  min-width: 312px;
  height: 312px;
  justify-content: space-evenly;
}
main nav a {
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding: 17px 39px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: #fff;
  color: var(--secondary-text);

  border: 1px solid #e8e8e8;
}
main nav .active {
  background-color: var(--primary-color);
  color: var(--primary-text);
  border: 0;
}
main .blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  gap: 24px;
}
main .blog img {
  width: 100%;
}
main article {
  box-shadow: 0px 0px 3px gray;
  border-radius: 10px;
}

main article > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
main article button {
  width: max-content;
  padding: 4px 17px;
  border-radius: 5px;
  font-weight: 800;
  border: 1px solid #e8e8e8;
}

main article > div > div {
  display: flex;
  gap: 30px;
}
main article > div > div span {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer {
  padding: 130px 0;
  background-color: var(--secondary-color);
}
footer h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: var(--primary-text);
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
footer ul li {
  list-style: none;
}
footer ul a {
  text-decoration: none;
  color: #b9b9b9;
}
footer hr {
  margin: 50px 140px;
  color: #b9b9b9;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
footer .social-icons i {
  color: #b9b9b9;
  font-size: 30px;
}
/* 
    note media quereies

*/
@media only screen and (max-width: 992px) and (min-width: 576px) {
  .hero {
    margin: 50px;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .com-button {
    padding: 12px;
  }
  .tab-button {
    display: block;
    margin: 50px auto;
  }
  main {
    flex-direction: column;
    margin: 50px;
  }
  main nav {
    flex-direction: row;
    padding: 0;
    height: 78px;
    flex-grow: 1;
    background-color: #fff;
    justify-content: space-between;
    gap: 22px;
  }
  main nav a {
    width: 100%;
    display: flex;
    align-items: center;
  }
  footer hr {
    margin: 50px 40px;
  }
  main .blog {
    grid-template-columns: 1fr 1fr;
  }
  footer ul {
    flex-wrap: wrap;
    margin: 0 100px;
  }
}
/* Mobile device */
@media only screen and (max-width: 576px) {
  .hero {
    grid-template-columns: 1fr;
    margin: 20px;
    border-radius: 10px;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .hero > div:first-child {
    text-align: center;
    align-items: center;
    padding: 50px 80px 30px;
  }
  .hero > div:last-child {
    justify-content: center;
    padding: 0 40px;
  }
  main {
    flex-direction: column;
    margin: 24px;
  }

  main nav {
    align-items: center;
    background-color: #fff;
  }
  main .blog {
    grid-template-columns: 1fr;
  }
  footer {
    padding: 50px 0;
  }
  footer hr {
    margin: 50px 10px;
  }
  footer ul {
    flex-direction: column;
    align-items: center;
  }
}
